<% content_for :title, "PlanetSpark" %>
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h1 class="heading-section">PlanetSpark</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">
          <span class="mb-4 text-center h3_link">Sign Up</span>
          <%= form_for(@user, class: "signin-form") do |f| %>
            <div class="form-group">
              <%= f.text_field :name, autofocus: true, autocomplete: "Name", placeholder: "Name", class: "form-control", required: true %>
            </div>
            <div class="form-group">
              <%= f.text_field :username, autofocus: true, autocomplete: "Username", placeholder: "Username", class: "form-control", required: true %>
            </div>
            <div class="form-group">
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password",required: true%>
              <span toggle="#password-field"></span>
            </div>
            <div class="form-group">
              <%= f.password_field :password_confirmation, autocomplete: "current-password", class: "form-control", placeholder: "Confirm Password", required: true%>
              <span toggle="#password-field"></span>
            </div>
            <div class="form-group">
              <%= f.submit "Sign Up", class: "form-control btn btn-primary submit px-3"%>
            </div>
            <div class="form-group d-md-flex">
                <%#= link_to "Sign In", new_session_path(resource_name), class: "mb-4 text-center h3_link"%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  body{
    background-image: url(/assets/login_bg.jpg);
  }
</style>