<header class="header">
  <nav class="navbar navbar-expand-lg fixed-top py-3">
      <div class="container"><a href="<%= root_path %>" class="navbar-brand text-uppercase font-weight-bold">PlanetSpark</a>
      <span class="nav-item active" style="color: #fff;"><%= current_user.name %></span>
          <div id="navbarSupportedContent" class="collapse navbar-collapse">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item active"><%#= link_to "Home", root_path, class: "nav-link text-uppercase font-weight-bold" %></li>
                  <li class="nav-item active"><%#= link_to "Explore", home_explore_path, class: "nav-link text-uppercase font-weight-bold" %></li>
                  <li class="nav-item active"><%#= link_to "Posts", posts_path, class: "nav-link text-uppercase font-weight-bold" %></li>
                  <li class="nav-item"><%= link_to "Logout", signout_path, method: :delete, class: "nav-link text-uppercase font-weight-bold" %></li>
              </ul>
          </div>
      </div>
  </nav>
</header>