<div class="chat_window">
  <div class="top_menu">
      <div class="title">Chat Room: <%= @users_name %></div>
  </div>
  <ul class="messages" id="chat_bx">
    <% @messages.each do |message| %>
      <li class="message <%= message.user_id == current_user.id ? 'right' : 'left' %> appeared">
          <div class="avatar"></div>
          <div class="text_wrapper">
              <div class="text"><%= message.content %></div>
          </div>
      </li>
    <% end %>
  </ul>
  <div class="bottom_wrapper clearfix">
    <%= hidden_field_tag :current_user_id, current_user.id %>
    <%= form_for :message, url: msg_path, html: {id: "chat_frm"} ,remote: true  do |f| %>
        <%= f.hidden_field :room_id, value: params[:room_id] %>
    <div class="message_input_wrapper">
        <%= f.text_field :content, class: "message_input", placeholder: "Type your message here..." %>
    </div>
    <div class="send_message">
        <div class="icon send_btn" style="font-size: 25px;">SEND</div>
    </div>
    <% end %>
  </div>
</div>
<div class="message_template">
    <li class="message">
        <div class="avatar"></div>
        <div class="text_wrapper">
            <div class="text"></div>
        </div>
    </li>
</div>