<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Short URL</th>
      <th scope="col">URL</th>
    </tr>
  </thead>
  <tbody>
    <% @urls.each_with_index do |url,i| %>
      <tr>
        <th scope="row"><%= i + 1 %></th>
        <td>
          <%= link_to root_url+url.short_url_token, target: "_blank" do %>
            <%= root_url+url.short_url_token %>
          <% end %>
        </td>
        <td>
          <%= link_to url.original_url, target: "_blank" do %>
            <%= url.original_url %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="login-wrap p-0">
  <%= form_for(:url_shortner, url: create_url_path, class: "signin-form") do |f| %>
    <div class="form-group">
      <%= f.text_field :url, autofocus: true, autocomplete: "Add your URL", placeholder: "Add your URL", class: "form-control", required: true %>
    </div>
    <div class="form-group">
      <%= f.submit "Shorten URL", class: "form-control btn btn-primary submit px-3"%>
    </div>
  <% end %>
</div>