<% content_for :title, "Welcome #{current_user.name} | Reddit Daddy" %>
<div class="container d-flex align-items-stretch" style="padding-top: 74px;">
  <nav id="sidebar" class="img" style="background-image: url(/assets/login_bg.jpg);">
    <div class="p-4">
      <div style="text-align: center;">
        <h1><span class="logo">Chatter Box</span></h1>
      </div>
      <h1><span class="logo"><span>Friends List</span></span></h1>
      <ul class="list-unstyled components mb-5">
        <% @users.each do |user| %>
          <li class="active" style="display: flex;">
            <%= link_to user.name, room_path(user: user) ,style:"word-break: break-word;width: 90%;cursor: pointer;", method: :post %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="p-4">
      <div style="text-align: center;">
        <h1><span class="logo">URL Shortner</span></h1>
      </div>
      <a href="<%= home_path %>"><h1><span class="logo"><span>Visit Your URLs List</span></span></h1></a>
    </div>
  </nav>
  <% if params[:room_id].present? %>
    <div class="container" style="margin: 20px;" id="chat_section">
      <%= render "chat" %>
    </div>
  <% else %>
    <div class="container table-responsive" style="margin: 20px;" id="chat_section">
      <%= render "urls" %>
    </div>
  <% end %>
</div>