<!DOCTYPE html>
<html>
  <head>
    <title>PlanetsparkApps</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <%= favicon_link_tag asset_path('fav_icon.png') %>
  </head>

  <body>
  	<% if current_user.present? %>
      <%= render "shared/header" %>
    <% end %>
    <% flash.each do |type, msg| %>
      <div style="margin-top: 64px;" class="<%= flash_class(type) %>">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
